/* .album {
    min-height: 50rem; /* Can be removed; just added for demo purposes 
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f7f7f7;
  } */
  
.List_sum{
  width: 1152px;
  height: 48px;
  /* transform: scaleY(-1); */
  background: #FFFFFF;
  border-radius: 2px;
  border-radius: 2px;
  /* line-height: 20px; */
  /* padding: 14px; */
  margin-top: 10px;
  margin-bottom: 20px;

}
.List_sum_font{
  display: inline-block;
  width: 198px;
  height: 20px;
  margin: 14px;

}

  .card {
    box-sizing:border-box; 
    display: flex;
    /* 主轴是水平轴 */
    flex-direction:row;
    /* 对齐方式  左对齐 */
    justify-content:flex-start;  
    /* float: left; */
    width: 1152px;
    height: 219px;
    /* padding: .75rem; */
    margin-bottom: 1.5rem;
    border: 1px solid #efefef;
    text-align: center;
    /* margin-left: 144px; */
    /* border: 1px solid red; */
    padding: 12px 12px;
    background: #FFFFFF;
    border-radius: 4px;
    border-radius: 4px;
  }


  
  .card_l{
    display: flex;
    flex-flow:row wrap;
    justify-content:flex-start;
    align-items:flex-start;
    display: inline-block;
    width: 273px;
    height: 180px;
    /* border: 1px solid red; */
    
  }
  .card_r{
    display: flex;
    flex-flow:column ;
    align-items:flex-start;
    /* display: inline-block; */
    width: 812px;
    height: 180px;
    /* border: 1px solid red; */
    margin-left: 15px;
  }
  
  /* .card > img {
    margin-bottom: .75rem;
    border-radius: 100px;
  } */
  
  /* .card-text { 
    font-size: 85%;
  } */
  .List_pic {
    display: inline-block;
    /* width: 273px;
    height: 153px; */
  }
  .card_l_font{
    margin-top: 8px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    line-height: 12px;
    color: #8A909A;
    text-align:left;
  }


  .card_name {
    width: 282px;
    height: 24px;
    font-family: PingFangSC-Regular;
    color: #001000;
    font-size: 24px;
    line-height: 24px;
  }
  .card_name_200{
    color: #FF8A2B ;
  }


  .card_type{
    display: inline-block;
    width: 96px;
    height: 26px;
    background-color: #EBEFF4;
    border-radius: 1px;
    /* border-radius: 1px; */
  }
  .card_type_font{
    display: inline-block;
    width: 80px;
    height: 20px;
    font-size: 14px;
    color: #333333 ;
    line-height: 20px;
    text-align: center;
  }

  .card_trainingType{
    display: inline-block;
    margin-left: 12px;
    width: 72px;
    height: 26px;
    background-color: #EBEFF4;
    border-radius: 1px;
    /* border-radius: 1px; */
  }
  .card_trainingType_font{
    display: inline-block;
    width: 56px;
    height: 20px;
    font-size: 14px;
    color: #333333 ;
    line-height: 20px;
    text-align: center;
  }


  .card_descript{
    width: 815px;
    height: 82px;
    padding-top:10px ;
    text-align: left;
  }
  .card_descript_200{
    color: #FF8A2B ;
  }